In [1]:
from datascience import *
import numpy as np

In [24]:
fruit = Table().with_columns("Fruit", make_array("apple", "orange", "apple", "apple"),
                     "Cost", make_array(3, 6, 5, 8),
                            "Store", make_array("Vons", "Costco", "Ralphs", "Vons"))
fruit

Fruit  | Cost | Store
apple  | 3    | Vons
orange | 6    | Costco
apple  | 5    | Ralphs
apple  | 8    | Vons

In [3]:
fruit = fruit.group(["Fruit", "Store"], np.mean)
fruit

Fruit  | Store  | Cost mean
apple  | Ralphs | 5
apple  | Vons   | 5.5
orange | Costco | 6

In [4]:
fruit.relabeled("Cost mean", "Cost")

Fruit  | Store  | Cost
apple  | Ralphs | 5
apple  | Vons   | 5.5
orange | Costco | 6

In [5]:
fruit

Fruit  | Store  | Cost mean
apple  | Ralphs | 5
apple  | Vons   | 5.5
orange | Costco | 6

In [6]:
fruit.relabel("Cost mean", "Cost")

Fruit  | Store  | Cost
apple  | Ralphs | 5
apple  | Vons   | 5.5
orange | Costco | 6

In [7]:
new_costs = fruit.column("Cost") * 2
new_costs

array([10., 11., 12.])

In [8]:
fruit.with_columns("New Cost", new_costs)

Fruit  | Store  | Cost | New Cost
apple  | Ralphs | 5    | 10
apple  | Vons   | 5.5  | 11
orange | Costco | 6    | 12

In [9]:
fruit

Fruit  | Store  | Cost
apple  | Ralphs | 5
apple  | Vons   | 5.5
orange | Costco | 6

In [10]:
make_array(1,2,3) + 1

array([2, 3, 4])

In [11]:
fruit2 = Table().with_columns("Fuit", make_array("orange", "apple", "mango", "apple"),
                     "Weight", make_array(5, 7, 9, 80))
fruit2

Fuit   | Weight
orange | 5
apple  | 7
mango  | 9
apple  | 80

In [12]:
fruit

Fruit  | Store  | Cost
apple  | Ralphs | 5
apple  | Vons   | 5.5
orange | Costco | 6

In [13]:
joined_fruit = fruit.join("Fruit", fruit2, "Fuit")
joined_fruit

Fruit  | Store  | Cost | Weight
apple  | Ralphs | 5    | 7
apple  | Ralphs | 5    | 80
apple  | Vons   | 5.5  | 7
apple  | Vons   | 5.5  | 80
orange | Costco | 6    | 5

In [14]:
fruit

Fruit  | Store  | Cost
apple  | Ralphs | 5
apple  | Vons   | 5.5
orange | Costco | 6

## .where

In [18]:
fruit.where("Store", are.not_containing("a"))

Fruit  | Store  | Cost
apple  | Vons   | 5.5
orange | Costco | 6

In [ ]:
fruit.where("Cost", 5)

In [ ]:
fruit.where("Store", "Vons")

In [ ]:
fruit.where("Cost", are.below_or_equal_to(5))

In [ ]:
fruit.sort("Cost", descending=True)

In [ ]:
fruit.where("Store", "Vons").sort("Cost", descending=True)

In [ ]:
fruit

In [ ]:
fruit.take(np.arange(0, 3, 2))

In [ ]:
np.arange(0, 100, 3)

In [ ]:
fruit = fruit.drop("Cost")
fruit

In [ ]:
fruit.select("Store")

In [ ]:
fruit.column(0)

In [85]:
fruit.column("Fruit")

array(['apple', 'orange', 'mango', 'bannana'], dtype='<U7')

In [22]:
fruit

5